.main{
    // background-color: red;
    // height: 100vh;
.subheader{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #343a40;
    background-color: #212529;
    height: 200px;
    h1{
        color: white;
    }
}
}