<section class="vh-100 gradient-custom">
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
    Your Account is Registered Successfully
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-light text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 ">
              <form [formGroup]="signUpUser">
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase text-center" style="color:black;">SignUp</h2>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX" style="color:black;">User Name <span class="required-asterisk" style="color:red;">*</span></label>
                  <input formControlName="userName" type="email" id="typeEmailX" class="form-control form-control-lg"
                  [ngClass]="signUpUser.get('userName')?.errors && signUpUser.get('userName')?.touched ? 'is-invalid' : '' " />

                  <div *ngIf="
                  signUpUser.get('userName')?.touched &&
                  signUpUser.get('userName')?.invalid
                  " class="invalid-feedback">
                  User Name is Required.
                </div>
                  
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX" style="color:black;">Email <span class="required-asterisk" style="color:red;">*</span></label>
                  <input formControlName="email" type="email" id="typeEmailX" class="form-control form-control-lg"
                  [ngClass]="signUpUser.get('email')?.errors && signUpUser.get('email')?.touched ? 'is-invalid' : '' " />

                  <div *ngIf="
                  signUpUser.get('email')?.touched &&
                  signUpUser.get('email')?.invalid
                  " class="invalid-feedback">
                  Email is Required.
                </div>
                  
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX" style="color:black;">Password   <span class="required-asterisk" style="color:red;">*</span></label>
                  <input formControlName="password" type="password" id="typePasswordX" class="form-control form-control-lg" 
                  [ngClass]="signUpUser.get('password')?.errors && signUpUser.get('password')?.touched ? 'is-invalid' : '' " />

                  <div *ngIf="
                  signUpUser.get('password')?.touched &&
                  signUpUser.get('password')?.invalid
                  " class="invalid-feedback">
                  Password is Required.
                </div>
              
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" style="color:black;">Role</label>

                  <!--  -->
                  <select
                    class="form-select"
                   style="height:51px"
                    formControlName="role"
                    
                  >
                    <option class="select-items" selected value="select Role">-Select Role-</option>
                    <option value="HR">Client</option>
                    <option value="Subject Expert">Seller</option>
                  </select>
                </div>
  
  
                <button class="btn btn-dark btn-lg px-5 mt-4" type="submit" style="margin-left:31%" (click)="register()">Sign Up</button>
                <p class="mb-5 pb-lg-2  text-center mt-2"><a class="text-black-50" routerLink="/login">Login</a></p>
  
              </div>
            </form>

  
             
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
